.AdminHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    height: 200px;
}

.AdminHeader > .upper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(34, 123, 3, 0.92);
}

.AdminHeader > .upper > .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.AdminHeader > .upper > .right > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.AdminHeader > .upper > .right button {
    margin: 10px;
    border: none;
    background: rgb(34, 88, 3);
    
    border-radius: 10px;
    padding: 20px 15px;
    color: #fff;
    font-size: 16px;
}

.AdminHeader > .lower {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
}

.AdminHeader > .lower > .dateTime {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 50px;
    margin-right: 20px;
}

.openNav {
    display: flex;
    width: 100%;
    margin-left: 50px;
}