.AdminDashboard {
  display: flex;
  flex-direction: column;
}

.eventModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.eventModal > .modal-content {
  border-radius: 15px;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.eventModal > .modal-content > button {
  font-size: 16px;
  background-color: green;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .AdminDashBoard {
  }

  .grid {
    grid-template-columns: 350px 350px !important;
  }

  .grid > .cancelled-request {
    background-color: red;
    color: white;
    width: 60px !important;
    height: 100px !important;
  }

  .grid > .event-requested {
    background-color: blue;
    color: white;
    width: 60px !important;
    height: 100px !important;
  }

  .grid > .pending-request {
    background: #fcba03;
    color: white;
    width: 60px !important;
    height: 100px !important;
  }

  .grid > .approved-request {
    background-color: green;
    color: white;
    width: 60px !important;
    height: 100px !important;
  }

  .bar-chart-container > div {
  }
  .pie-chart-container > div {
  }
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > .calendar {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 500px;
}

.grid > .left {
  border: 1px solid green;
  border-left: 10px solid green;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.grid > h1 {
  width: 100%;
}

.grid > .left > .cancelled-request,
.grid > .left > .event-requested,
.grid > .left > .approved-request,
.grid > .left > .pending-request {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.grid > .right {
    display: flex;
    width: 60%;
    align-items: center;
}

.grid > .left > .cancelled-request {
  background-color: red;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.grid > .left > .event-requested {
  background-color: blue;
  color: white;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 50px;
}

.grid > .left > .pending-request {
  background: #A5402D;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  display: flex;
}

.grid > .left > .approved-request {
  background-color: green;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.AdminDashBoard > .right > .pie-chart-container,
.AdminDashBoard > .right > .bar-chart-container {
  width: 5%;
}
