.AdminLogin {
    display: flex;
    max-width: 80%;
    min-height: 100v;
    margin-top: 20px;
}

.AdminLogin>.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.AdminLogin>.left  input {
    width: 90%;
    padding: 20px;
    background: #FBFBFB;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.in {
    width: 90%;
}

.AdminLogin>.left button {
    background: rgba(21, 78, 1, 0.92);
    border-radius: 11px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 20px 30px;
}

.AdminLogin>.left>* {
    margin: 10px 0px;
}


.AdminLogin>.left>img {
    width: 400px;
}

.AdminLogin>.right {
    width: 50%;
}

.AdminLogin>.right>img {
    width: 100%;
    height: 100%;
}

.AdminLogin>.left>h3 {
    margin-top: 20px;
    margin-bottom: 0px;
}