* {
    font-family: sans-serif;
}

body {
    margin: 0px;
}

.App {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.App > .main-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.App > .main-con > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.App > .side-con {
    display: flex;
    z-index: 10;
}

@media (max-width: 1280px) {
    .App>.main-con> .containter{
        width: 100% !important;
    }
}