.Header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.Header > .upper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Header > .upper > .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.Header > .upper > .right > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
}

.Header > .upper > .right button {
    margin: 10px;
    border: none;
    background: rgba(34, 123, 3, 0.92);

    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

.Header > .lower {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
}

.Header > .lower > .dateTime {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 50px;
    margin-right: 20px;
}