.Header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Header > .upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header > .upper > .left {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.Header > .upper > .left > .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header > .upper > .left img {
    width: 20%;
}

.Header > .upper > .left .title h1,
.Header > .upper > .left .title h2 {
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    /* or 42% */

    text-align: center;
}

.Header > .upper > .left .title h1 {
    font-size: 35px;
}

.Header > .upper > .left .title h2 {
    font-size: 30px;
    font-weight: 500;
}

.Header > .upper > .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.Header > .upper > .right > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
}

.Header > .upper > .right button {
    margin: 10px;
    border: none;
    background: rgba(34, 123, 3, 0.92);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

.Header > .lower {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(34, 123, 3, 0.92);
    height: 50px;
}

.Header > .lower > .items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 50px;
}

.Header > .lower > .items a {
    font-size: 20px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}
