.RequestForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  width: 90%;
  border: 2px solid #3f51b5;
  border-left: 10px solid #3f51b5;
  border-radius: 10px;
  padding: 30px;
}

.RequestForm > .first > .eventInfo > .info > .info-inputs > span,
.RequestForm > .first > .eventInfo > .info > .info-inputs > input {
  margin-left: 5px;
  margin-right: 5px;
}

.RequestForm > .first,
.RequestForm > .second,
.RequestForm > .third,
.RequestForm > .fourth {
  width: 90%;
}

.titleHead > p,
.header > p,
.equipTitle > h3,
.otherSpec > h3,
.disc > h3 {
  font-weight: 800;
  font-size: 17px;
}

input[type="text"],
textarea {
  border: none;
  background: #d9d9d9;
}

input[type="text"] {
  padding: 5px;
}

.info > select {
  width: 22%;
  padding: 5px;
  background-color: #d9d9d9;
}

.RequestForm > .first {
  display: flex;
  flex-direction: column;
}

.RequestForm > .first > .facilityList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RequestForm > .first > .facilityList > input[type="checkbox"] {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 9px;
}

.RequestForm > .first > .facilityList > .other {
  border-top: none;
  border-left: none;
  border-right: none;
}

.RequestForm > .first > .eventInfo {
  display: flex;
  flex-direction: column;
}

.RequestForm > .first > .eventInfo > .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RequestForm > .first > .eventInfo > .info > input {
  padding: 5px;
  background: #d9d9d9;
  border: none;
}

.RequestForm > .second {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.RequestForm > .second > .duration {
  display: flex;
  flex-direction: column;
}

.RequestForm > .second > .duration > .fromTO {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.RequestForm > .second > .duration > .fromTO > .item > .singleItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.RequestForm
  > .second
  > .duration
  > .fromTO
  > .item
  > .singleItem
  > .singleDate {
  display: flex;
  align-items: center;
}

.RequestForm
  > .second
  > .duration
  > .fromTO
  > .item
  > .singleItem
  > .singleDate
  > * {
  margin-left: 10px;
  padding: 5px 0px;
}

.RequestForm
  > .second
  > .duration
  > .fromTO
  > .item
  > .singleItem
  > .singleDate
  > input {
  padding: 5px;
  background: #d9d9d9;
}

.to {
  display: flex;
  justify-content: center;
  width: 50%;
}

.from {
  display: flex;
  justify-content: center;
  width: 50%;
}

.RequestForm > .second > .duration > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RequestForm > .second > .descriptionAct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RequestForm > .second > .descriptionAct > textarea {
  max-width: 450px;
  min-height: 100px;
  height: 100px;
  width: 450px;
}

.RequestForm > .third {
  display: flex;
  flex-direction: column;
}

.RequestForm > .third > .equipQuan {
  display: flex;
  flex-direction: column;
}

.RequestForm > .third > .equipQuan > .quan {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.RequestForm > .third > .equipQuan > .checkQuan > .everyItem {
  display: flex;
  align-items: center;
}

.RequestForm > .third > .equipQuan > .checkQuan > .everyItem > .nthItems {
  display: flex;
  align-items: center;
}

.RequestForm > .third > .equipQuan > .checkQuan > .everyItem > .nthItems > * {
  margin-left: 6px;
}

.RequestForm > .third > .equipQuan > .checkQuan > .everyItem > .nthItems > p {
  width: 100px;
  margin-right: 150px;
}

.RequestForm > .fourth {
  display: flex;
  flex-direction: column;
}

.RequestForm > .fourth > .pubOpen {
  display: flex;
  align-items: center;
}

.RequestForm > .fourth > .pubOpen > .opItem {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 16px;
}

.RequestForm > .fourth > .otherSpec > .attendGc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RequestForm > .fourth > .otherSpec > .attendGc > textarea {
  min-height: 20px;
  min-width: 100px;
  max-width: 100px;
  margin-top: 20px;
}

.RequestForm > .fourth > .otherSpec > .caterItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.RequestForm > .fourth > .otherSpec > .caterItem > .right > .foodItem {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.RequestForm > .fourth > .otherSpec > .caterItem > .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.RequestForm > .fourth > .otherSpec > .caterFood > .cateRight > .foodItem {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.RequestForm > .fourth > .otherSpec > .caterFood {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.RequestForm > .fourth > .otherSpec > .caterFood > .cateRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.RequestForm > .fourth > .otherSpec > .caterFood > .caterItem {
  display: flex;
}

.RequestForm > .fourth > .otherSpec > .caterFood > .public {
  display: flex;
  flex-direction: column;
}

.RequestForm > .fourth > .addInfo > .disc > textarea {
  max-width: 850px;
  min-width: 850px;
  width: 100%;
  min-height: 200px;
}

.RequestForm .subBtn {
  display: flex;
  justify-content: flex-end;
}

.RequestForm .subBtn > button {
  background: #3f51b5;
  border-radius: 11px;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}

@media (max-width: 1280px) {
  .RequestForm {
    width: 85% !important;
    padding-left: 15px;
  }

  .RequestForm > .fourth > .addInfo > .disc > textarea {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100%;
    min-height: 200px;
  }
  .RequestForm > .first > .eventInfo > .info > .info-inputs > span {
    font-size: 10px;
  }
  .RequestForm > .first > .eventInfo > .info > .info-inputs > span,
  .RequestForm > .first > .eventInfo > .info > .info-inputs > input {
    margin-right: 5px;
    margin-left: 5px;
  }
  .RequestForm > .first > .facilityList > .other {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
  }

  .RequestForm > .fourth > .otherSpec > .attendGc > textarea {
    max-width: 50% !important;
    min-width: 20% !important;
    width: 100% !important;
    min-height: 100px;
  }

  .RequestForm > input {
    font-size: 14px !important;
  }

  .RequestForm > * {
    font-size: 14px !important;
  }

  .RequestForm > .first,
  .RequestForm > .second,
  .RequestForm > .third,
  .RequestForm > .fourth {
    width: 100% !important;
  }

  .RequestForm .subBtn > button {
    background: #3f51b5;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 7px;
    font-size: 10px !important;
    cursor: pointer;
    margin: 5px;
  }
  .titleHead > p {
    font-size: 13px !important;
  }
  .facilityList > span {
    font-size: 10px;
  }
  .duration > .header > p {
    font-size: 13px !important;
  }
  .singleDate > input {
    width: 45% !important;
    font-size: 10px;
  }
  .singleDate > p {
    font-size: 10px;
  }
  .RequestForm {
    padding: 10px;
  }
  .descriptionAct > p {
    font-size: 13px;
  }
  .equipTitle > h3 {
    font-size: 13px !important;
  }
  .caterItem > p,
  .caterFood > p > span {
    font-size: 15px;
    margin-right: 60px;
  }
  .from > h3,
  .to > h3 {
    font-size: 13px !important;
  }
  .info > input {
    width: 30% !important;
  }
  .info > p {
    font-size: 10px;
  }
  .info > select {
    width: 40% !important;
    font-size: 10px;
  }
  .info > select > option {
    font-size: 10px;
  }
  .everyItem > input {
    width: 10% !important;
  }
}

@media (max-width: 800px) {
  .info > .deps {
    width: 150px !important;
  }
}

@media (max-width: 1380px) {
}
