.SideNav {
    width: 20%;
    flex-direction: column;
    background-color:#fff;
    box-shadow: 1px 2px 30px -5px #000;
    position: fixed;
    height: 100%;
    z-index: 1;
}



.SideNav>.close-side {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.SideNav>.close-side>svg {
    width: 10%;
    padding: 10px;
    color: #000;
}

.SideNav>.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideNav>.logo>h1 {
    color: #000;   
    font-size: 20px;
}

.SideNav>.logo>img {
    width: 50%;
}

.SideNav>.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 15px;
}

.SideNav>.nav>a {
    color: #000;
    font-size: 18px;
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5%;
}

.SideNav>.nav>a>svg{
    padding-right:10px;
    font-size: 19px;
}

.SideNav>.nav>a:hover {
background-color: #f1f1f1;
}

@media (max-width: 460px) {
    .SideNav {
        width: 100% !important;
        height: 100vh;
        position: fixed;
    }

    .SideNav>.nav>a {
        font-size: 16px !important;
        height: 10px;
    }

    .sideNav>.logo>h1 {
        font-size: 10px !important;
    }

    .SideNav>.logo>img {
        width: 15%;
    }
}

@media (max-width: 800px) {
    .SideNav {
        width:50%;
    }

    .SideNav>.nav>a {
        font-size: 15px;
        height: 15px;
    }
}

@media (max-width: 1000px) {
    .SideNav>.nav>a {
        font-size: 18px;
        height: 15px;
    }
}