.UserUpdate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    z-index: 20;
}

/* Modal Content/Box */
.UserUpdate>.modal-content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    padding: 0px 0px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

.UserUpdate > .modal-content> div > input {
    width: 50%;
    padding: 15px;
    font-size: 15px;
    margin-top: 50px;
    margin: 15px;
    height: 25px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: lightgrey;
}

.UserUpdate > .modal-content >div>  select {
    background-color: lightgrey;
}

.UserUpdate > .modal-content > div> select {
    width: 53%;
    padding: 15px;
    font-size: 15px;
    margin: 15px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.UserUpdate > .modal-content > div> button {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    background: rgba(21, 78, 1, 0.92);
    border-radius: 11px;
    margin: 20px;
    cursor: pointer;
}


.UserUpdate > .modal-content  > div> h1 {
    margin: 0px;
}