.UserRequests {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(max-width: 1380px){
    th {
        font-size: 11px !important;
    }
    td{
        font-size: 11px !important;
    }
    .UserRequests {
        width: 100% !important;
    }
}

.UserRequests > .dataTable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.UserRequests > .dataTable > table {
    width: 40%;
}

.UserRequests > .dataTable > table > thead > tr > th {
    color: #fff;
}

table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls > .search {
    display: flex;
    align-items: center;
}

.controls > .search > input {
    padding: 10px;
    margin-left: 5px;
}

.controls > .exportButton {
    display: flex;
    align-items: center;
}

.controls > .exportButton > button {
    padding: 12px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

.red {background: #D91414;}
.green {background: rgba(34, 123, 2, 0.92);}

.UserRequests>.dataTable > table > thead > tr> th {
    font-size: 16px;
    padding: 15px;
}

.UserRequests>.dataTable > table > tbody > tr > td {
    text-align: center;
    padding: 5px 5px;
    font-size: 14px;
}

.actions {
    border: none;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}

.pagination {
    display: flex;
}

.pagination > .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.buttons{
    display: flex;
}

.equips {
    font-size: 13px;
}

.username {
    white-space: nowrap;
}

.description {
    white-space: nowrap;
}