.Users {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs {
    display: flex;
    width: 100%;
    align-items: center;
}
.tabs > div{
    background-color: #7b7b7b;
    display: flex;
    color: #c1c1c1;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-top-right-radius: 10px;
}

.tabs > .active {
    background-color: #fff;
    color: #000;
    border-top: 2px solid #3f51b5;
}

.controls > .search {
    display: flex;
    align-items: center;
}

.controls > .search > input {
    padding: 10px;
    margin-left: 5px;
}



th {
    font-size: 20px;
    padding: 10px;
    background-color: gray;
    color: #fff;
}

td {
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
}

.actions {
    border: none;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}

.pagination {
    display: flex;
    width: 90%;
}

.pagination > .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.buttons{
    display: flex;
}

.equips {
    font-size: 13px;
}

.username {
    white-space: nowrap;
}

.description {
    white-space: nowrap;
}